body
	margin 0
	padding 0
	font-family Arial, "Helvetica Neue", Helvetica, sans-serif
	font-size 16px
	line-height 20px

header
	background black
	color #fff
	text-align center
	padding-top 20px

	h1
		margin-bottom 20px

.menu
	background red

	li
		display inline-block
		border-right 1px solid #fff
		padding 7px 10px

		&:first-child
			border-left 1px solid #fff

		a 
			color #fff
			text-decoration none
			-webkit-transition all 0.3s ease

			&:hover
				color #000

.cuerpo
	width 900px
	margin 0 auto

.box
	float left
	width 280px
	margin 10px

.cl
	clear both

.footer
	background black
	color white

	.fot
		float left
		width 30%